ansicon==1.89.0
async-generator==1.10
atomicwrites==1.4.0
attrs==21.4.0
beautifulsoup4==4.10.0
blessed==1.19.1
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
colorama==0.4.4
cryptography==36.0.1
h11==0.13.0
idna==3.3
inquirer==2.9.1
jinxed==1.1.0
lxml==4.7.1
more-itertools==8.12.0
outcome==1.1.0
packaging==21.3
pluggy==0.13.1
py==1.11.0
pycparser==2.21
pyOpenSSL==21.0.0
pyparsing==3.0.7
pypiwin32==223
pytest==5.4.3
python-editor==1.0.4
pywin32==303
readchar==3.0.5
requests==2.27.1
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
tabulate==0.8.9
tqdm==4.62.3
trio==0.19.0
trio-websocket==0.9.2
uk-postcode-utils==1.1
urllib3==1.26.8
wcwidth==0.2.5
win10toast==0.9
wsproto==1.0.0
